nav#main-nav {
    background-color: rgb(73, 95, 129);
    display: flex;
    justify-content: center;
    text-align: center;
}

body {
    margin: 0;
    background-color: rgb(90, 180, 184);
    color: rgb(0, 0, 0);
}

#main-nav > a {
    color: rgb(0, 0, 0);
    padding: .5rem;
    font-size: 1.5em;
    text-decoration: none;
    transition: all ease-in-out 500ms;
    border: .15em solid rgb(255, 132, 44);
    background-color: rgb(153, 212, 214);
    border-radius: .5em;
    margin: .25em;
}

#main-nav > a:hover {
    color: rgb(255, 215, 162);
    background-color: rgb(153, 212, 214);
}

img{
    width: 25em;
    height: 25rem;
}

#dossier-cards {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card > a > img {
    transition: all ease-in-out 500ms;
    border: .15em solid chocolate;
    
}

.card > a > p {
    text-decoration: none;
    background-color: chocolate;
    border: 1em solid chocolate;
}

.card > a > img:hover {
    border-color: aliceblue;
    background-color: aliceblue;
}

footer {
    text-align: center;
}

h1,h2 {
    text-align: center;
}