nav#main-nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#main-nav > a {
    color: rgb(0, 0, 0);
    padding: .5rem;
    font-size: 1.5em;
    text-decoration: none;
    transition: all ease-in-out 250ms;
    border: .15em solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: .5em;
    margin: .25em;
}

#home:hover {
    color: rgb(255, 138, 138);
    background-color: rgb(0, 0, 0);
    border: .25em solid rgb(255, 138, 138);
}

#rhino:hover {
    color: rgb(255, 253, 138);
    background-color: rgb(0, 0, 0);
    border: .25em solid rgb(255, 253, 138);
}

#hornbill:hover {
    color: rgb(138, 255, 144);
    background-color: rgb(0, 0, 0);
    border: .25em solid rgb(138, 255, 144);
}

#gharial:hover {
    color: rgb(138, 247, 255);
    background-color: rgb(0, 0, 0);
    border: .25em solid rgb(138, 247, 255);
}

#nurshark:hover {
    color: rgb(165, 138, 255);
    background-color: rgb(0, 0, 0);
    border: .25em solid rgb(165, 138, 255);
}

img{
    width: 25em;
    height: 25rem;
}

#dossier-cards {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card > a > img {
    transition: all ease-in-out 50ms;
    border: .5em solid rgb(0, 0, 0);
    margin: 1em;
    
}

.card-name {
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    border: .25em solid rgb(0, 0, 0);
    
}

.card > a > img:hover {
    border-color: rgb(138, 247, 255);
    background-color: rgb(138, 247, 255);
    mask-image: element(p) cross-fade(.5);
}

footer {
    text-align: center;
}

h1,h2 {
    text-align: center;
}

#title {
    font-size: 5em;
    font-family: fantasy;
}

#subtitle {
    font-size: 1.5em;
}
